@import "../../assets/color.scss";
@import "../../assets/_mixins";

.turnos-wrapper {
  margin: -.5vh 1.5vw 1.5vw;
  flex-direction: column;
  background: $white;
  border-radius: 5px;
  @include shadow-4dp-color($black);
  margin: 1.5vw;
  padding: 0;
  .list-wrapper {
    max-height: calc(80vh - 5.85vw);
    overflow-y: hidden;
    &:empty {
      padding-bottom: 1.5em;
    }
    & > li {
      display: flex;
      justify-content: space-between;

    }
  }
  li {
    flex-grow: 1;
    list-style: none;
    line-height: 1;
    font-size: 4.5vh;
    font-weight: 400;
    color: $grey-500;
    border-bottom: 0.25vh solid $grey-comafi-light;
    padding: 1.25vw 0;
    margin: 0 1vw;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    &:last-of-type {
      border-bottom: 0;
    }
    &.title {
      font-size: 2.75vh;
      font-weight: 600;
      color: $green-comafi-dark;
      line-height: 2.5;
      border-bottom: .85vh solid $green-comafi-lighter;
      text-transform: uppercase;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      & > span {
        margin: 0 1vw;
        display: inline-block;
      }
    }
  }
  .scale-up-center {
    -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
            animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  }
}

 @-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

